/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.profilePhoto {
	width: 10rem;
	height: 10rem;

	margin: 1rem;

	background: url(../../../img/Z-ProfilePhoto.jpg);
	background-size: cover;

	border-radius: 100%;
	border: 1px solid black;

	overflow: hidden;

	animation-delay: 200ms;

	animation: userPhoto;
	animation-duration: 1s;
}
.profilePhoto img {
	width: 10rem;
	height: 10rem;
}
.userData {
	width: 80%;
	height: 20rem;

	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	animation: textP;
	animation-duration: 2s;
}
.btnP {
	width: 80%;

	display: flex;
	justify-content: space-evenly;
}
.btnP button {
	width: 3rem;
	height: 3rem;

	background: rgb(54, 54, 54);

	cursor: pointer;

	font-size: 25px;

	border-radius: 100%;
	border: 2px solid black;
}
.paragraph {
	width: 80%;
	height: 55%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.paragraph div {
	font-size: 15px;
}
.paragraph p {
	text-align: center;
}
/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

figure {
	position: relative;
}

figure:after {
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	color: #fff;
	content: attr(title);
	opacity: 0;
	padding: 6px 12px;
	position: absolute;
	left: 110%;
	top: 30px;
	transition: all 0.25s ease;
	visibility: hidden;
	white-space: nowrap;
}

figure[tooltip-dir='left']:after {
	left: auto;
	right: 110%;
}

figure[tooltip-dir='bottom']:after,
figure[tooltip-dir='top']:after {
	left: 50%;
	right: auto;

	transform: translateX(-50%);
}

figure[tooltip-dir='bottom']:after {
	bottom: auto;
	top: 110%;
}

figure[tooltip-dir='top']:after {
	bottom: 110%;
	top: auto;
}

figure:hover:after {
	opacity: 1;
	visibility: visible;
}
/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/
@keyframes userPhoto {
	from {
		width: 6rem;
		height: 6rem;

		margin: 0.5rem;
	}
	to {
		width: 10rem;
		height: 10rem;
	}
}
@keyframes textP {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
