/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.profilePhoto {
  position: relative;

  width: 8rem;
  height: 8rem;

  margin: 1rem;

  background: rgba(0, 0, 0, 0.5);
  background-size: cover;

  border-radius: 100%;
  border: 1px solid black;

  overflow: hidden;
}
.profilePhoto img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.userData {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.btnP {
  width: 80%;

  display: flex;
  justify-content: space-evenly;
}
.btnP button {
  width: 3rem;
  height: 3rem;

  background: rgba(0, 0, 0, 0.5);

  cursor: pointer;

  font-size: 0.8rem;

  border-radius: 100%;
  border: 2px solid black;
}
.paragraph {
  width: 80%;
  height: 55%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.paragraph div {
  font-size: 0.8rem;
  color: #fff;
}
.paragraph p {
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}
.thc {
  width: 60%;

  display: flex;
  justify-content: center;
}
.thc div {
  padding: 0.5rem;
  background: rgba(78, 75, 72, 0.9);
  margin: 1rem;
  border-radius: 100%;
}
.model div input {
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-radius: 10px;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.btn {
  margin-left: auto;
}

/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/
/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
