.container {
	margin-left: 1.5rem;
	padding: 2rem 2rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container h1 {
	color: white;
}
.container hr {
	margin: 1rem 0;
}
.d {
	display: flex;

	margin-left: auto;
	margin-right: auto;

	text-align: center;
}
.container form {
	width: 100%;
	text-align: left;
}
.btn {
	width: 3rem;
	height: 3rem;

	background: rgba(78, 75, 72, 0.9);

	font-size: 1rem;

	border-radius: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: auto;
	margin-right: auto;
}
.btn button a div {
	font-size: 1.5rem;
}
.obse div {
	height: 100%;
}
.imgs div {
	width: 263px;
	height: 100%;
}
