#root {
	--sd-dd: max-content;
}

.panel {
	position: absolute;

	top: 0;
	right: 0;

	background: radial-gradient(100% 258.73% at 100% 0%, #000000 0%, rgba(0, 0, 0, 0) 100%),
		linear-gradient(0deg, rgba(195, 249, 230, 0.75), rgba(195, 249, 230, 0.75));

	width: 100%;
	height: 100%;

	animation: in 500ms;
}
.leyend {
	position: fixed;
	font-size: 40px;
	width: 265px;
	height: 50px;
	top: calc(50% - 50px / 2 - 80px);
	left: calc(50% - 265px / 2);
	margin: 0;
}
.panelData {
	position: fixed;

	width: 80%;
	height: 85%;

	top: calc(48% - 80% / 2);
	left: calc(55% - 90% / 2);

	background: rgba(255, 255, 255, 0.75);
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;
}
.googleAPI {
	position: fixed;

	width: 60px;
	height: 60px;

	top: calc(50% - 30px);
	left: calc(50% - 30px);

	border: 1px black solid;
	border-radius: 30px;
	background: #ffffff;

	overflow: hidden;
}
.googleAPI img {
	position: relative;
	height: 50px;
	top: calc(50% - 25px);
}
.exit {
	position: absolute;

	width: 60px;
	height: 60px;

	right: 2%;
	bottom: 2%;
}
.exit h1 {
	position: absolute;
	top: -15px;
	left: 25%;
	font-size: 15px;
	margin: 0;
}
.exit img {
	width: 35px;
	height: 35px;
}
.conf {
	position: absolute;

	width: 60px;
	height: 60px;

	right: 2%;
	top: 2%;
}
.conf h1 {
	position: absolute;
	top: calc(100%);
	left: -15px;
	font-size: 15px;
	margin: 0;
}
.conf img {
	width: 40px;
	height: 40px;
}
.back {
	position: absolute;
	width: 75px;
	height: 75px;
	right: 0;
	top: 0;
	background: radial-gradient(74.5% 74.5% at 100% 0%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.back h1 {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 0;
	right: 5%;
	margin: 0;
}
.ribbon {
	position: absolute;

	background: url('./Photo.svg');
	background-size: cover;

	width: 360px;
	height: 350px;
	left: -110px;
	top: -70px;
}
.ribbon img {
	position: absolute;

	width: 68%;

	top: calc(50% - 71% / 2);
	left: calc(50% - 65% / 2);

	border-radius: 100%;
	border: 5px solid black;
}
.text {
	position: absolute;

	width: 300px;
	height: 300px;

	top: calc(50% - 300px / 2);
	left: calc(50% - 300px / 2);
}
@keyframes in {
	from {
		width: 1px;
		height: 1px;
		border-radius: 0px 0px 0px 1000px;
	}
	to {
		width: 100%;
		height: 100%;
		border-radius: 0%;
	}
}
@keyframes in {
	from {
		width: 1px;
		height: 1px;
		border-radius: 100% 0px 100% 100%;
	}
	to {
		width: 100%;
		height: 100%;
		border-radius: 0%;
	}
}
