/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.container {
	width: auto;
	height: 100%;

	padding: 0px 1rem;
	border-radius: 20px;
}

/*Master*/
/*Sub*/
.panelCards {
	height: fit-content;
	margin: 3rem 0;
}
.cards {
	display: grid;
	justify-content: center;
	align-items: center;

	grid-template-columns: repeat(auto-fill, 25vw);
	grid-row-gap: 0.5rem;
}
.cards * {
	text-decoration: none;
}
.panelSearchBar {
	position: fixed;

	width: 80%;

	display: flex;
	margin: 1rem 0 2rem 0;
}
.panelSearchBar form {
	width: 100%;
	display: flex;
}
.panelSearchBar form input {
	width: auto;

	padding: 0 1rem;

	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;

	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.panelSearchBar form input {
	width: 100%;
}
.btnSearch {
	padding: 0 0.5rem;

	cursor: pointer;

	background: white;

	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */
@media only screen and (max-width: 700px) {
}
/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
