/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/


/*Const*/
:root {
	--back-general: white;
}
/*Const*/


/*Containers*/
	/*Master*/
	.panel_{
		width: 100%;
		height: 100%;
		mix-blend-mode: normal;

		background: gray;
		background-repeat: no-repeat;
		background-size: cover;
	}
	/*Master*/
	/*Sub*/

	/*Sub*/
	/*Button´s container*/

	/*Button´s container*/
	/*Input´s container*/

	/*Input´s container*/
	/*Oters*/

	/*Oters*/
/*Containers*/


/*Use*/
	/*Button */

	/*Button */
	/*Input */

	/*Input */
/*Use*/


/*Resizing */

/*Resizing */


/*Animations*/

/*Animations*/


/*Other´s Components*/
	/*Master*/
	.panelF{
		position: fixed;
		width: 1100px;
		height: 814px;
		left: calc(50% - 1100px/2);
		top: calc(50% - 814px/2 + 66px);

		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 4.69%, rgba(255, 255, 255, 0.450521) 13.02%, rgba(255, 255, 255, 0.5) 100%);
		border-radius: 20px;
	}
	.customer{
		font-family: Arial;

		width: 80%;
		height: 95%;
		left: calc(50% - 80%/2);
		top: calc(50% - 95%/2);

		border-radius: 20px;
		position: fixed;
	}
	.menu{
		position: absolute;

		z-index: 100;

		overflow: hidden;

		width: 100%;
		height: 100%;

	}
	/*Master*/
/*Other´s Components */
