.container {
	width: fit-content;
	height: 85%;

	border-radius: 10px;

	overflow-x: hidden;
}
.panelContainer {
	width: 100%;
	height: fit-content;
}
.containerOption {
	display: flex;
	height: -webkit-fill-available;
}
.btns {
	display: flex;
	width: 100%;
}
.active_1 {
	width: 300px;
	height: 3.1rem;

	border-radius: 10px 0px 0px 0px;

	background: rgba(0, 0, 0, 0.75);

	color: white;
}
.inactive_1 {
	width: 300px;
	height: 3.1rem;

	border-radius: 10px 0px 0px 0px;

	background: rgba(0, 0, 0);

	color: white;
}
.active_2 {
	width: 300px;
	height: 3.1rem;

	border-radius: 0px 10px 0px 0px;

	background: rgba(0, 0, 0, 0.75);

	color: white;
}
.inactive_2 {
	width: 300px;
	height: 3.1rem;

	border-radius: 0px 10px 0px 0px;

	background: rgba(0, 0, 0);

	color: white;
}
