.container {
	width: fit-content;
	height: 85%;

	border-radius: 20px;

	overflow-y: scroll;
	overflow-x: hidden;
}
.panelContainer {
	width: fit-content;
	height: fit-content;
}
.containerOption {
	display: flex;
	height: -webkit-fill-available;
}
.btns {
	display: flex;
	width: 600px;
}
.active_1 {
	width: 300px;
	height: 3rem;

	border-radius: 20px 0px 0px 0px;

	background: rgba(0, 0, 0, 0.75);

	color: white;
}
.inactive_1 {
	width: 300px;
	height: 3rem;

	border-radius: 20px 0px 0px 0px;

	background: rgba(0, 0, 0);

	color: white;
}
.active_2 {
	width: 300px;
	height: 3rem;

	border-radius: 0px 20px 0px 0px;

	background: rgba(0, 0, 0, 0.75);

	color: white;
}
.inactive_2 {
	width: 300px;
	height: 3rem;

	border-radius: 0px 20px 0px 0px;

	background: rgba(0, 0, 0);

	color: white;
}
