.container {
	background: rgba(0, 0, 0, 0.5);

	padding: 2rem 3rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.d {
	display: flex;

	margin-left: auto;
	margin-right: auto;

	text-align: center;
}
.container form {
	width: 100%;
	text-align: left;
}
.btn {
	width: 4rem;
	height: 4rem;

	background: radial-gradient(
		112% 112% at 50% -12%,
		rgba(0, 0, 0, 0) 26.04%,
		rgba(0, 0, 0, 0.5) 46.35%,
		#000000 69.27%
	);

	border-radius: 100%;

	margin-left: auto;
	margin-right: auto;
}
.obse div {
	height: 100%;
}
.imgs div {
	width: 263px;
	height: 100%;
}
