.container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}
.panel {
	border-radius: 20px;
	background: rgb(126, 126, 126);
	padding: 1rem 2rem;
	width: 250px;
	height: 250px;
}
.panel h2 {
	width: fit-content;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
}
