input{
    background: rgba(255, 255, 255, 0.6);
    font-family:Arial, Helvetica, sans-serif;
    padding: 4px;
    margin: 4px;
    border: none;
    border-radius: 10px;
}
input::placeholder{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}
select{
    background: rgba(255, 255, 255, 0.6);
    font-family:Arial, Helvetica, sans-serif;
    padding: 4px;
    margin: 4px;
    border: none;
    border-radius: 10px;
}
.basicDataPanel{
    position: absolute;
    width: 700px;
    padding: 2%;
    margin-left: 23%;
    margin-top: 2%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);

    animation-duration: 1s;
    animation-name: basicDataIn;
}
.name{
    width: 330px;
    height: 2rem;
}
.dateBirth{
    width: 330px;
    height: 2rem;
}
.dateDestete{
    width: 330px;
    height: 2rem;
}
.weight{
    width: 330px;
    height: 2rem;
} 
.dataR{
    width: 330;
    height: 23px;
}
.listTypes{
    width: 330;
    height: 2.5rem;
}
.enviar {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
@media (max-width: 1000px){
    .basicDataPanel{
        width: 100%;
        padding: 4%;
        margin-left: 0%;
        margin-top: 45%;

        grid-template-columns: repeat(auto-fill, 450px);
    }
    .name{
        width: 100%;
    }
    .dateBirth{
        width: 100%;
    }
    .dateDestete{
        width: 100%;
    }
    .weight{
        width: 100%;
    } 
    .listTypes{
        width: 102%;
    }
}

@keyframes basicDataIn {
	from {
        margin-left: 0%;
		margin-top: 45%;
	}
  
	to {
        margin-left: 23%;
		margin-top: 2%;
	}
  }