.temp{
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, 0.6);

	width: 160px;
	height: 160px;
	margin-left: 7%;
	margin-top: 3%;
	border-radius: 10px;
	
	animation-duration: 0.5s;
	animation-name: imgOut;
}
  
.temp::before {
	background:#9C9D9A;
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	content: '+';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#src-file1::before {
	content: ' ';
  }
@media (max-width: 1000px){
	.temp{
		margin-top: 4%;
		margin-left: calc(50% - 200px/2 - 0.5px);
		
		animation-duration: 1s;
		animation-name: imgIn;
	}
}

@keyframes imgIn {
	from {
		margin-left: 7%;
		margin-top: 3%;
	}
  
	to {
		margin-top: 4%;
		margin-left: calc(50% - 200px/2 - 0.5px);
	}
  }

  @keyframes imgOut {
	from {
		margin-top: 4%;
		margin-left: calc(50% - 200px/2 - 0.5px);
	}
  
	to {
		margin-left: 7%;
		margin-top: 3%;
	}
  }