.tableIn thead th {
	font-size: 20px;
	color: rgba(251, 225, 34, 1);

	border-bottom: solid 1px rgb(255, 255, 255);
}
.tableIn tbody th {
	border-left: solid black 1px;
	padding: 0.1rem;
	text-align: end;
}
.tableIn tbody td {
	color: black;
	border-radius: 10px;
	background: rgb(255, 255, 255, 0.75);
}
#ask {
	background: rgba(0, 0, 0, 0.05);
	padding: 0;
	border-radius: 10px;
}
