/*


1- Variables and constants
2- Containers
3- Components
4- Resizing
5- Animations
6- From Oter´s components










*/
/*Variables and constants*/
:root{
	--back-general-inputs: white;
}
/*Variables and constants*/
/*Containers*/
	/*Component´s container*/
	.subPanelLV{
		position: absolute;
		width: 80%;
		height: 70%;
		right: 0;
		top: 20%;

		align-items: center;
		justify-content: center;
		overflow-y: scroll;
		padding: 2rem;
		
		background: rgba(0, 0, 0, 0.2);
		border-radius: 40px 0px 0px 40px;
	
		display: grid;
		grid-template-columns: repeat(auto-fill, 260px);
		grid-template-rows: repeat(auto-fill, 160px);
		grid-column-gap: 0.5rem;
		grid-row-gap: 0.5em;
	
		animation-duration: 2.5s;
		animation-name: panelOut;
	}
	.subPanelLV::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.subPanelLV::-webkit-scrollbar:vertical {
		width:1px;
	}
	.subPanelLV::-webkit-scrollbar-button:increment,.subPanelLV::-webkit-scrollbar-button {
		display: none;
	} 
	.subPanelLV::-webkit-scrollbar:horizontal {
		height: 5px;
	}
	.subPanelLV::-webkit-scrollbar-thumb {
		background-color: rgba(255, 0, 0, 0.1);;
		border-radius: 20px;
		border: none;
	}
	.subPanelLV::-webkit-scrollbar-track {
		border-radius: 10px;  
	}
	.subPanelLV p{
		padding: 0;
		margin: 0;
	}
	.subPanelLV input{
		background: rgba(255, 255, 255, 0.6);
		border-radius: 10px;
		border: none;
		padding: 4px;
	
		height: 2rem;
		margin: 4px;
	
		font-family:Arial, Helvetica, sans-serif;
	}
	.subPanelLV input::placeholder{
		color: black;
		font-family:Arial, Helvetica, sans-serif;
	}
	.subPanelLV select{
		background: rgba(255, 255, 255, 0.6);
		font-family:Arial, Helvetica, sans-serif;
		padding: 4px;
		margin: 4px;
		border: none;
		border-radius: 10px;
	}
	.subPanelLV button{
		background: transparent;
		border: none;
		border-radius: 10px;
		padding: 0;
		border-radius: 10px;
	}
	/*Component´s container*/
/*Containers*/
/*Input´s container*/

/*Input´s container*/
/*Components*/
	/*Buttons and inputs*/

	/*Buttons and inputs*/
/*Components*/
/*Resizing */
	@media (max-width: 1000px){
		.subPanel{

			overflow-y: scroll;
			overflow-x: hidden;

			animation-duration: 2.5s;
			animation-name: panelIn;
		}
		.subPanel::-webkit-scrollbar:vertical {
			width:5px;
		}
	}
/*Resizing */
/*Animations */
	@keyframes panelIn {
		from {
			width: 80%; 
		}
		to {
			width: 0%;
		}
	}
	@keyframes panelOut {
		from {
			width: 0%;
		}
		to {
			width: 80%px;
		}
	}
/*Animations */
/*From Oter´s components*/
.containerSe{
	position: absolute;
	width: 50%;
	height: 60px;
	right: 0;
	top: 43px;
	
	background: var(--back-general-inputs);
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 50px 0px 0px 50px;
}
.submitL{
	position: absolute;
	width: 150px;
	height: 100px;

	left: 0%;
	top: 80%;

	text-decoration: none;
	font-size: 1.25rem;
	color: white;
	text-align-last: center;
	
	background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 0px 40px 40px 0px;
}
.cardPanel{
	position: relative;
	width: 250px;
	height: 150px;

	color: var(--font-color);

	z-index: 0;

	background: linear-gradient(125.11deg, rgba(0, 0, 0, 0.25) 0%, #000000 17.47%, rgba(0, 0, 0, 0.25) 35.67%), rgba(255, 255, 255, 0.5);
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;
}
.imgView{
	position: absolute;
	width: 125px;
	height: 125px;
	left: calc(50% - 125px/2 - 0.5px);
	top: calc(50% - 125px/2 + 0.5px);
	border-radius: 100%;
}
.cardPanel p{
	position: relative;
	width: 180px;
	height: 180px;

	left: calc(50% - 125px/2);
    top: 100px;
    font-size: 25px;

	margin: 0;

	visibility: hidden;
}
.nameH1{
	position: absolute;
	width: 125px;
	height: 65px;
	left: calc(50% - 125px/2);
	top: 100px;

	margin: 0;
}
.cardPanel:hover{

	color: var(--font-color);
	z-index: 0;

	background: linear-gradient(125.11deg, rgba(255, 255, 255, 0.25) 0%, #000000 15.61%, #FFFFFF 35.67%), rgba(255, 255, 255, 0.5);

	left: -18%;

	width: 350px;
	height: 225px;
	
}
.cardPanel:hover .imgView{
	position: absolute;
	width: 125px;
	height: 125px;
	left: 15px;
	top: 0px;
}

.cardPanel:hover .nameH1{
	left: 15px;
	top: 150px;
}
.cardPanel:hover .ps{
	color: #000000;
	font-size: 2rem;
	position: absolute;
	width: 180px;
	height: 180px;
	left: 150px;
	top: 20px;
	padding: 0;
	border: 1px solid black;
}

/*From Oter´s components*/
