/*
El webkit se configuró, para que las barras de desplazamiento no estroben al espacio visual del componente

1- Variables and constants
2- Containers 		
3- Components 		
4- Resizing 		
5- Animations 		











*/
/*Variables and constants*/
:root{
	--back-general: white;
	--font-family-general: Arial;
}
/*Variables and constants*/
/*Containers*/
.subPanelSe{
	background: var(--back-general);

	width: 700px;
	height: 60px;
	
	border: 3px solid #000000;
	box-sizing: border-box;
	border-radius: 50px 0px 0px 50px;
}
/*Containers*/
/*inputs*/
.inputSe{
	position: absolute;
	width: 600px;
	height: 55px;

	margin: 0;
	padding: 0;
	border: none;
	border-right: 1px black solid;
	border-radius: 50px 0px 0px 50px;
}
.inputSe::placeholder{
	color: black;
	font-family: var(--font-family-general);
	font-size: 50;
}
/*inputs*/
/*styles*/
.iconSePanel{
	position: absolute;
	width: 100px;
	height: 55px;
}
/*styles*/