.tableTop th {
	border-radius: 3px;
	border: solid black 1px;
}
.tableTop tbody #br {
	border: solid rgba(0, 0, 0, 0.25) 1px !important;
}
.tableTop tbody tr td {
	border: solid rgba(0, 0, 0, 0.25) 1px;
}
.tableTop thead {
	background: #348b00;

	border: solid black 1px;
}
.b table {
	border-radius: 3px;

	border: solid black 1px;
}
.b table thead th {
	border: none;
}
.b table tbody th {
	border: none;
}
.b table tbody tr #t3 {
	border: none;

	margin: auto;
}
.b table tbody #r {
	border-right: solid black 1px;
	border-top: solid black 1px;
}
.b table tbody #c {
	border-top: solid black 1px;
}
.b table tbody #l {
	border-left: solid black 1px;
	border-top: solid black 1px;
}
