.cards_panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 280px;
    height: 275px;

    border-radius: 15px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1) 95%);
    background-size: 200% 200%;

    animation: cardAnimationONE 0.5s infinite;
}

.cards_panel table:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards_panel table * {
    box-sizing: border-box;
}

.cards_panel table tbody hr {
    width: 230px;
    height: 0.5em;

    margin: 1em 0;
}

.cards_panel table tbody tr {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 260px;

    margin: 0.5em 0;
}

.cards_panel table tbody div {
    width: 75px;
    height: 75px;

    border-radius: 100%;
    transition: all 0.5s ease-out;

    animation: cardAnimationTWO 2s infinite;
}

.cards_panel table tbody td {
    width: 130px;
    height: 15px;

    border-radius: 10px;
    font-size: 12px;

    animation: cardAnimationTWO 2s infinite;
}


.cards_panel table tbody th {
    width: 70px;
    height: 15px;

    margin-right: 10px;
}

.cards_panel table tbody :nth-child(1) td {
    width: 100px;

    margin-bottom: 1.5em;
    margin-left: 1em;
}

.cards_panel table tbody :nth-child(1) th {
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 1.5em;
}

@keyframes cardAnimationONE {
    0% {
        background: linear-gradient(90deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }

    12.5% {
        background: linear-gradient(125deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }

    25% {
        background: linear-gradient(160deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }

    37.5% {
        background: linear-gradient(195deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }

    50% {
        background: linear-gradient(230deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }

    62.5% {
        background: linear-gradient(265deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }

    75% {
        background: linear-gradient(300deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }

    87.5% {
        background: linear-gradient(335deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }

    100% {
        background: linear-gradient(370deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }
}

@keyframes cardAnimationTWO {
    0% {
        background: linear-gradient(90deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }

    100% {
        background: linear-gradient(-90deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1));
    }
}