.container{
    width: 350px;
    height: fit-content;

    background: rgba(0, 0, 0, 0.5);
    
    padding: 1rem;
    
    border-radius: 10px;

    margin: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.container th{
    text-align: end;

    color: yellow !important;
}
.container td{
    text-align: end;

    color: rgb(255, 255, 255) !important;

    text-align: start;

    padding-left: 10px;

    border-left: 1px white solid;
}