/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	position: relative;

	width: 100%;
	height: 40px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*Master*/
/*Sub*/
.list_ {
	position: absolute;

	width: 113%;

	margin: 0.5rem 0;
	border-bottom: 1px solid black;
	border-radius: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 1rem;
	padding-right: 1rem;

	color: rgb(0, 0, 0, 0.5);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.1) 100%);
}
.list_ option:disabled {
	color: rgb(107, 107, 107);
}
.list_ option {
	color: rgb(0, 0, 0, 0.75);
}
.lblInac {
	width: 100%;
	margin-left: 1rem;

	transition: margin-bottom 500ms ease-out;
}

.lblAc {
	width: 100%;
	margin-left: 1rem;
	margin-bottom: 3.5rem;

	transition: margin-bottom 500ms ease-out;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Select*/

/*Select*/

/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
