.panelIt {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container {
	height: 100px;
	margin: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
