.container {
	width: 100%;
	margin: 2rem;
}
.calendar {
	display: flex;
}
.info {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
	margin: 1rem 20rem;
	text-transform: uppercase;
}
.week {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}
.prec,
.next {
	cursor: grab;
	color: rgb(255, 0, 0);
	-webkit-text-stroke: 1px rgb(255, 255, 255);
}
