.container {
	width: 100%;
	margin: 2rem;

	padding: 2rem 3rem;
}
.panel {
	height: 500px;

	border-radius: 20px;
	border: solid 1px white;
	padding: 1rem;
	background: rgb(255 255 255 / 75%);

	overflow-y: scroll;
	overflow-x: hidden;
}
.panel h1 {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	color: black;
}
