.optionContainer {
  width: calc(94% - 6rem);

  margin: 1%;
  margin-left: auto;

  border-radius: 10px;

  overflow-y: scroll;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

@media only screen and (max-width: 700px) {
  .optionContainer {
    width: 82%;
    height: calc(92% - 3rem);

    margin-left: auto;

    overflow-y: scroll;
    overflow-x: hidden;

    scroll-behavior: smooth;
  }
}
