/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...
*/

/*Const*/
:root {
	--back-general: white;
}
/*Const*/

/*Containers*/
/*Master*/
.Panel_ {
	position: relative;
	height: 100px;
	width: 300px;

	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 100px;

	-webkit-text-stroke: 0.5px rgb(0, 0, 0);
}
/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/
.Image_ {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 10px;
	top: calc(50% - 75px / 2);

	background: rgba(255, 255, 255, 0.5);
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 100px;
}
.Panel_:hover .Image_ {
	width: 100px;
	height: 100px;
	left: 10px;
	top: 10px;
}
.Name_ {
	text-overflow: ellipsis;
	overflow: hidden;

	position: absolute;
	width: 175px;
	height: auto;
	right: 25px;
	top: calc(50% - 22px / 2);
	margin: 0;

	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;

	color: #ffffff;
}
.Panel_:hover .Name_ {
	right: 120px;
	top: 120px;
}
.ParagPanel {
	visibility: hidden;
}
/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/
@keyframes cardInHover {
	from {
		height: 100px;
		width: 300px;

		border-radius: 100px;
	}
	to {
		height: 200px;
		width: 325px;

		border-radius: 20px;
	}
}
.Panel_:hover {
	height: 200px;
	width: 325px;

	border-radius: 20px;

	animation-duration: 0.5s;
	animation-name: cardInHover;
}
/*Animations*/

/*Other´s Components*/
/*Master*/
.paragraphsPanel {
	width: 70%;
	height: 100%;
	margin-left: 80px;
	font-size: 1rem;
	color: #ffffff;
	visibility: hidden;
}
.Panel_:hover .paragraphsPanel {
	visibility: visible;
}
/*Master*/
/*Other´s Components */
