/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/


/*Const*/
:root {
	--back-general: white;
	--font-family-general: arial;
	--font-color: black;
	--font-size: 40px;
	--focus-back: #fff;
}
/*Const*/


/*Containers*/
	/*Master*/
	img{
		width: 100%;
		height: calc(100% - 25px);
	}
	/*Master*/
	/*Sub*/
	.label{
		width: 100%;
		height: 30px;
		margin: 0;
		margin-left: 1rem;

		font-family: arial;
		font-size: 30px;
	}
	.br_{
		height: 20px;
	}
	.inp{
		background: var(--back-general);

		width: 100%;
		height: calc(100% - 25px);

		font-size: var(--font-size);
		box-sizing: border-box;
		border-radius: 20px;
		border: none;

		font-family: Arial;
	}
	.inp::placeholder {
		position: absolute;

		margin-top: 0.5rem;
		margin-left: 1rem;
		padding: 0;
		font-size: 30px;
		color: var(--font-color);

		opacity: 0.5;
	}
	.inp::before{
		background-color: #ffffff;
		color: rgb(0, 0, 0);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
		content: '+'; /* testo por defecto */
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	/*Sub*/
	/*Button´s container*/

	/*Button´s container*/
	/*Input´s container*/

	/*Input´s container*/
	/*Oters*/

	/*Oters*/
/*Containers*/


/*Use*/
	/*Button */

	/*Button */
	/*Input */

	/*Input */
/*Use*/


/*Resizing */

/*Resizing */


/*Animations*/

/*Animations*/


/*Other´s Components*/
	/*Master*/

	/*Master*/
/*Other´s Components */