.container {
	width: 600px;
	min-width: 600px;
	height: 475px;

	margin-top: auto;
	margin-bottom: auto;

	border-radius: 20px 20px 0px 0px;
	overflow: hidden;

	z-index: 10;
}

ul.tabs {
	width: 100%;
	background: #423531;
	list-style: none;
	display: flex;

	transition: 300ms;
}

ul.tabs li {
	width: 50%;
}

ul.tabs li a {
	color: antiquewhite;
	text-decoration: none;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

ul.tabs li a .tab text {
	margin-left: 8px;
}

.sections {
	width: 100%;
	background: #fff;
}

.sections article {
	padding: 30px;
}

.active {
	background: #68534d;
	pointer-events: none;

	transition: 300ms;
}

.hidden {
	visibility: hidden;
}
.c1 {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 1190px;
	top: -75px;

	border-radius: 100%;
	background: #66b317;

	transform: rotate(90deg);
	animation: in 1s;

	z-index: 3;
}
.c2 {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 870px;
	top: -75px;
	border-radius: 100%;
	background: #05a18c;

	transform: rotate(90deg);
	animation: in 1s;

	z-index: 1;
}
.c3 {
	position: absolute;
	width: 400px;
	height: 400px;
	left: -144px;
	top: -9px;

	border-radius: 100%;
	background: #05a18c;

	animation: in 1s;

	z-index: 2;
}
.c4 {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 104px;
	top: -92px;

	border-radius: 100%;
	background: #66b317;

	animation: in 1s;

	z-index: 8;
}
.c5 {
	position: absolute;
	width: 600px;
	height: 600px;
	left: 326px;
	top: 271px;
	border-radius: 100%;

	background: #05a18c;
	transform: rotate(180deg);
	animation: in 1s;

	z-index: 6;
}
.c6 {
	position: absolute;
	width: 450px;
	height: 450px;
	left: 833px;
	top: 422px;

	border-radius: 100%;
	transform: rotate(180deg);
	background: #66b317;

	animation: in 1s;

	z-index: 3;
}
@keyframes in {
	from {
		width: 0%;
		height: 0%;
		border-radius: 0%;
	}
	to {
		border-radius: 100%;
	}
}
