/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.container {
	position: absolute;

	width: 100%;
	height: 100%;

	display: flex;

	background: white;
}
.awaterMark {
	position: absolute;

	width: 100%;
	height: 100%;

	background: url(../../../img/A-GeneralWaterMark.png);
	opacity: 10%;
}
/*Master*/
/*Sub*/
.left {
	width: 50%;
	height: 100%;
	display: flex;
}
.rigth {
	width: 50%;
	height: 100%;
}
.rigthUp {
	width: 100%;
	height: 50%;
}
.rigthDown {
	width: 100%;
	height: 50%;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/
.l1 {
	position: absolute;

	top: 0px;
	left: 0px;

	width: inherit;
	height: 100%;

	background: radial-gradient(
		81.69% 90.7% at 0% 0%,
		rgba(5, 161, 140, 0.75) 65.08%,
		rgba(5, 161, 140, 0) 93.88%
	);

	animation: l1 1500ms;
}
.l2 {
	position: absolute;

	top: 0px;
	left: 20%;

	width: 20%;
	height: 40%;

	background: radial-gradient(
		50% 50% at 50% 0%,
		rgba(102, 179, 23, 0.75) 61.98%,
		rgba(102, 179, 23, 0) 100%
	);
	animation: l2 1500ms;
}
.ru1 {
	position: absolute;

	width: 50%;
	height: 50%;

	background: radial-gradient(
		63.4% 100% at 50% 0%,
		rgba(5, 161, 140, 0.75) 30.51%,
		rgba(5, 161, 140, 0) 69.1%
	);

	animation: ru1 1500ms;
}
.ru2 {
	position: absolute;

	top: 0;
	right: 0;

	width: 25%;
	height: 50%;

	background: radial-gradient(
		68.83% 69.13% at 100% 0%,
		rgba(102, 179, 23, 0.75) 70.83%,
		rgba(102, 179, 23, 0) 100%
	);

	animation: ru2 1500ms;
}
.rd1 {
	position: absolute;

	bottom: 0;
	right: 0;

	width: 30%;
	height: 50%;

	background: radial-gradient(
		50% 50% at 100% 100%,
		rgba(5, 161, 140, 0.75) 70.83%,
		rgba(5, 161, 140, 0) 100%
	);

	animation: rd1 1500ms;
}
.rd2 {
	position: absolute;

	bottom: 0;

	width: 50%;
	height: 50%;

	background: radial-gradient(
		43.12% 100% at 50% 100%,
		rgba(102, 179, 23, 0.75) 65.62%,
		rgba(102, 179, 23, 0) 100%
	);

	animation: rd2 1500ms;
}

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/
@keyframes l1 {
	from {
		width: 0%;
		height: 0%;
	}
	to {
		width: inherit;
		height: 100%;
	}
}
@keyframes l2 {
	from {
		width: 0%;
		height: 0%;
	}
	to {
		width: 20%;
		height: 40%;
	}
}
@keyframes ru1 {
	from {
		width: 0%;
		height: 0%;
	}
	to {
		width: 50%;
		height: 50%;
	}
}
@keyframes ru2 {
	from {
		width: 0%;
		height: 0%;
	}
	to {
		width: 25%;
		height: 50%;
	}
}
@keyframes rd1 {
	from {
		width: 0%;
		height: 0%;
	}
	to {
		width: 30%;
		height: 50%;
	}
}
@keyframes rd2 {
	from {
		width: 0%;
		height: 0%;
	}
	to {
		width: 50%;
		height: 50%;
	}
}
/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
