* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	width: 600px;
	max-width: 600px;
	min-width: 450px;
	margin: 30px auto;

	font-size: 20px;
	-webkit-text-stroke: 0.5px rgb(0, 0, 0);

	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
}
ul.tabs {
	width: 100%;
	background: rgb(0, 0, 0, 0.9);
	list-style: none;
	display: flex;
}
ul.tabs li {
	width: 50%;
}
ul.tabs li a {
	color: antiquewhite;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}
ul.tabs li a .tab text {
	margin-left: 8px;
}
.sections {
	display: flex;
	width: 100%;
	background: #fff;
}
.sections article {
	padding: 30px;
}
.active {
	background: rgba(0, 0, 50, 0.75);
	pointer-events: none;
}
.hidden {
	visibility: hidden;
}
