/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	height: 3rem;
	margin: 0.5rem 0;

	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	align-items: stretch;
}
/*Master*/
/*Sub*/
.list_ {
	width: 100%;
	height: 100%;

	border-radius: 20px;
	padding-left: 1rem;
	color: black;
}
.list_ option {
	color: black;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Select*/

/*Select*/

/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
