/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.container {
	height: 92%;

	background: radial-gradient(
		130% 100% at 50% 0%,
		rgba(104, 86, 77, 0) 10%,
		rgba(104, 83, 77, 0.25) 25%,
		#68534d 40.96%
	);

	margin: 0 0.5rem;

	border-width: 0px 2px 4px 2px;
	border-style: solid;
	border-color: #ffffff;
	border-radius: 20px;

	box-shadow: 0px 32px 20px 20px rgba(0, 0, 0, 0.9);

	overflow-y: scroll;
}
.panelInpImg {
	display: contents;
}
.panelContainer {
	height: fit-content;
	width: initial;

	padding: 0 2rem;

	display: flex;
	align-content: stretch;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

/*Master*/
/*Sub*/
.panelInpImg {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.btnC {
	width: 4rem;
	height: 4rem;

	border-radius: 0 0 100% 100%;
	background: radial-gradient(127% 60% at 50% 0%, rgba(0, 0, 0, 0) 40%, rgb(255 255 255 / 90%) 50%);

	display: flex;
	justify-content: center;
	align-items: center;
}

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Select */

/*Select  */

/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/
.panelImage {
	width: 100%;
	height: 250px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 5px;
}

.panelImage div {
	width: 250px;
	height: 250px;
	margin: 1rem;

	display: flex;
	align-content: space-between;
	justify-content: space-between;
	align-items: center;
}

.panelImage img {
	width: 250px;
	height: 250px;

	padding: 0;

	object-fit: cover;
	border-radius: 100%;
	border: 1px solid black;
}

.panelImage input {
	width: 250px;
	height: 250px;

	border: 1px solid black;
	border-radius: 100%;
	padding: 0;
}

.panelImage input::before {
	position: relative;
	height: inherit;

	background-color: white;
	color: black;

	display: flex;
	justify-content: center;
	align-items: center;

	content: '+';
	font-size: 75px;
}

.panel {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.panel div {
	width: 350px;
}

.cam button {
	background: radial-gradient(
		216.67% 100% at 50% 0%,
		rgba(0, 0, 0, 0) 26.55%,
		rgba(0, 0, 0, 0.5) 34.9%,
		rgba(0, 0, 0, 0.5) 56.52%,
		rgba(0, 0, 0, 0.75) 100%
	);
	position: relative;
	bottom: 0;
	height: 100px;
	border-radius: 0 0 100% 100%;
}

.cam video {
	border-radius: 100%;
	position: relative;
	top: 0;
}

.submit {
	width: 4rem;
	height: 4rem;

	background: rgba(0, 0, 0, 0.75);
	border: 0.2rem solid black;
	border-radius: 100%;

	margin: 2rem;
}

.submit div {
	font-size: 2rem;
}

/*Master*/
/*Other´s Components */
