/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
:root {
    --back-general: white;
}
/*Const*/

/*Containers*/
/*Master*/
.panel_ {
    width: 100%;
    height: 100%;
}
/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/
export
/*Animations*/
componenst/invoce/invoce

/*Other´s Components*/
/*Master*/
.op1 {
    position: absolute;
    left: 0%;
    right: 84.62%;
    top: 0%;
    bottom: 0%;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;

    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    border: solid 1px white;
    border-top: none;
}
.op2 {
    position: absolute;
    left: 16.92%;
    right: 67.69%;
    top: 0%;
    bottom: 0%;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;

    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    border: solid 1px white;
    border-top: none;
}
.op3 {
    position: absolute;
    left: 33.85%;
    right: 50.77%;
    top: 0%;
    bottom: 0%;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;

    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    border: solid 1px white;
    border-top: none;
}
.op4 {
    position: absolute;
    left: 50.77%;
    right: 33.85%;
    top: 0%;
    bottom: 0%;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;

    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    border: solid 1px white;
    border-top: none;
}
.op5 {
    position: absolute;
    left: 67.69%;
    right: 16.92%;
    top: 0%;
    bottom: 0%;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;

    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    border: solid 1px white;
    border-top: none;
}
.op6 {
    position: absolute;
    left: 84.62%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;

    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    border: solid 1px white;
    border-top: none;
}
/*Master*/
/*Other´s Components */
