.container {
	width: 350px;

	background: rgba(0, 0, 0, 0.1);
	background-size: cover;

	padding: 1.5rem 0.5rem;
	margin: 1rem;
	border-radius: 10px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.bird {
	width: 75%;

	background: rgba(0, 0, 0, 0.1);
	background-size: cover;

	padding: 1.5rem 0.5rem;
	margin: 1rem;
	border-radius: 10px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.panel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.panelStage {
	margin: 0.5rem;

	padding: 1rem;

	background: rgba(0, 0, 0, 0.25);
	font-size: 1rem;
	color: white;

	border-radius: 20px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}
.panelStage h2 {
	color: rgba(251, 225, 34, 1);
}
.titles {
	text-align: end;
	font-size: 16px;
	color: rgba(251, 225, 34, 1);
	margin-right: 0.3rem;
}
.ask {
	width: 20%;
	font-size: 16px;
	color: rgb(255, 255, 255);
}
.ask input {
	width: 130%;

	border-radius: 5px;
	border: 1px solid black;

	padding: 0 5px;

	text-align: start;
	font-size: 16px;
	color: rgb(0, 0, 0);
}
.idName {
	width: 100%;

	padding: 2px;
	font-size: 1.5rem;

	color: white;
	text-overflow: ellipsis;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn {
	width: 100%;

	margin-top: 1rem;

	display: flex;
	justify-content: center;
}
.btn figure {
	width: fit-content;
}
.btn button {
	background: transparent;

	border-radius: 100%;

	filter: drop-shadow(0px 0px 5px #ffffff);
}
.btn button a div {
	font-size: 20px;
}
