.modal {
  display: none;
}

.container {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.modalOpen {
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
}
