/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.container {
	width: 100vw;
	height: 100%;

	margin: 10% 2rem 2rem 2rem;

	border-radius: 20px;
}
/*Master*/
/*Sub*/
.panel {
	height: 65%;

	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-column-gap: 15px;
	grid-row-gap: 1rem;

	padding: 2.5rem 0;

	justify-content: center;
	align-items: center;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 20px;

	box-shadow: inset 0px 50px 50px rgba(0, 0, 0, 0.85), inset 0px -50px 50px rgba(0, 0, 0, 0.85);
	overflow-y: scroll;
	overflow-x: hidden;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
