/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...



*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	width: 220px;
	height: 150px;

	background: url('../../../img/ma.png'),
		linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.5) 0%,
			#f4fec1 5.73%,
			#f4fec1 93.75%,
			rgba(0, 0, 0, 0.5) 100%
		);

	cursor: pointer;
	border-radius: 20px;
	border: 1px solid black;
}
/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
