/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.container {
	width: auto;
	height: 100%;

	padding: 0px 1rem;
	border-radius: 20px;

	visibility: visible;
	transition: visibility 500ms ease-in;
}

/*Master*/
/*Sub*/
.panelCards {
	height: 80%;

	overflow-y: scroll;
	overflow-x: hidden;
}
.cards {
	display: grid;

	grid-template-columns: repeat(auto-fill, 220px);
	grid-template-rows: repeat(auto-fill, 150px);
	grid-column-gap: 15px;
	grid-row-gap: 20px;

	justify-content: center;
	align-items: center;
}

.panelSearchBar {
	display: flex;

	margin: 2rem 4rem;
}
.panelSearchBar input {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	padding: 0 1rem;

	width: auto;

	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.panelSearchBar input {
	width: 100%;
}
.btnSearch {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

	padding: 0 0.5rem;

	cursor: pointer;

	background: white;

	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.cards * {
	text-decoration: none;
}
.male {
	width: 2rem;
	height: 2rem;

	margin: 0 0.5rem;

	border-radius: 100%;
	border: 1px solid black;
}
.female {
	width: 2rem;
	height: 2rem;

	margin: 0 0.5rem;

	border-radius: 100%;
	border: 1px solid black;
}
.filter {
	display: flex;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
