/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...



*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.leftMenu {
	display: flex;
	flex-direction: column-reverse;

	width: 5rem;
	height: 100%;
	background: linear-gradient(90deg, #000000 0.65%, rgba(0, 0, 0, 0) 100%);

	padding-bottom: 5rem;

	visibility: visible;
	transition: visibility 500ms ease-in;
}
.btnNew {
	width: 100%;
	height: 3.5rem;

	font-size: 35px;

	border: 2px solid #000000;
	border-width: 2px 4px 2px 0px;
	border-style: solid;
	border-color: #000000;
	border-radius: 0px 75px 75px 0px;

	cursor: pointer;

	animation: btnOP;
	animation-duration: 500ms;
}
.btnBack {
	width: 3rem;
	height: 3rem;

	font-size: 30px;

	border: 2px solid #000000;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	border-radius: 100%;

	cursor: pointer;

	margin-left: 1rem;
	margin-bottom: 25rem;

	animation: btnOPBack;
	animation-duration: 500ms;
}

/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/
@keyframes btnOP {
	from {
		width: 0px;
	}
	to {
		width: 100%;
	}
}
@keyframes btnOPBack {
	from {
		margin-bottom: 0rem;
	}
	to {
		margin-bottom: 25rem;
	}
}
/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
