* {
	margin: 0%;
	padding: 0%;
	border: none;

	font-size: 20px;
	color: rgb(255, 255, 255);
	-webkit-text-stroke: 2px rgb(0, 0, 0);
	font-family: cursive;
	font-weight: revert;
}
body {
	width: 100%;
	height: 100%;
}
html {
	width: 100%;
	height: 100%;
}
#root {
	width: 100%;
	height: 100%;
}
input [type='file' i] {
	width: 100%;
	height: 100%;
}
::-webkit-scrollbar {
	-webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
	width: 1px;
}
::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar:horizontal {
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(255, 0, 0, 0.1);
	border-radius: 20px;
	border: none;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
}
