/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...



*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	overflow-x: hidden;
	align-items: center;
}
.panelList {
	width: 80%;
	margin-top: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.panelSearchBar {
	position: absolute;

	width: 90%;
	height: 2rem;

	top: 0;
	left: 10%;

	margin: 1rem 0;

	display: flex;

	z-index: 10;
}
.panelSearchBar form {
	width: 100%;
	display: flex;
}
.panelSearchBar form input {
	width: 90%;
	padding: 0 1rem;

	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;

	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.btnSearch {
	padding: 0 0.5rem;

	cursor: pointer;

	background: white;

	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */
@media only screen and (max-width: 700px) {
	.panelSearchBar {
		position: fixed;

		width: 80%;

		left: 16%;

		display: flex;
		margin: 0.4rem 0 2rem 0;
	}
	.panelSearchBar form {
		width: 100%;
		display: flex;
	}
}
/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
