.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse !important;
}

.image input[type="file"] {
    height: 1px;
    width: 1px;
}

.image label {
    width: 150px !important;
    height: 150px;
    padding: 0;

    background: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid #000;
    border-radius: 2em;
    cursor: pointer;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image label::before {
    content: "➕";
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender>label {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gender>section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gender>section>label {
    width: fit-content;
    height: 40px;

    padding: 0 2em;
    font-weight: bold;
    margin: 0 0.5em;
    border-radius: 20px;
    background: transparent;
    border: 3px solid white;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gender>section input[type="radio"] {
    display: none;
}

.gender>section input[type="radio"]:checked+label {
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background: rgb(245, 248, 246);
}

.transference> :first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.transference>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0 1em;
    margin: 1em 0;
    background-color: rgba(58, 70, 33, 0.25);
}

.transference>section>label {
    width: 225px;

    font-weight: bold;
    margin: 1em auto;
    color: rgb(30, 38, 13);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    text-align: start;
}

.transference>section>label>input {
    width: 225px;
    height: 40px;

    box-sizing: border-box;

    border: none;
    background: white;

    padding: 0 1em;
    margin-top: 0.5em;
    border-radius: 15px;
}

.panel {
    position: fixed;

    width: 750px;
    height: 95%;

    top: 1%;

    padding: 2em;
    border-radius: 10px;

    display: grid;
    grid-template-areas:
        "a1 a1"
        "a2 a3"
        "a4 a5"
        "a4 a5"
        "a4 a6"
        "a4 a6";
    grid-column-gap: 1em;
    grid-auto-rows: min-content;

    background: rgba(139, 167, 59, 0.3);
    overflow-y: auto;
}

.panel> :nth-child(1) {
    grid-area: a1;
}

.panel> :nth-child(2) {
    grid-area: a2;
}

.panel> :nth-child(3) {
    grid-area: a3;
}

.panel> :nth-child(4) {
    grid-area: a4;
}

.panel> :nth-child(5) {
    grid-area: a5;
}

.panel>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel>section>label {
    width: 250px;

    font-weight: bold;
    margin: 1em auto;
    color: rgb(30, 38, 13);

    display: flex;
    flex-direction: column;
}

.panel>section>label>input {
    width: 250px;
    height: 40px;

    box-sizing: border-box;

    border: none;
    background: white;

    padding: 0 1em;
    margin-top: 0.5em;
    border-radius: 15px;
}

.panel>section>label>select {
    width: 250px;
    height: 40px;

    border: none;
    background: white;

    padding: 0 1em;
    margin-top: 0.5em;
    border-radius: 15px;
}

.panel> :nth-child(5)>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.panel> :nth-child(5)>div> :first-child {
    width: fit-content;
    height: fit-content;

    color: rgb(245, 248, 246);
    border: none;
    padding: 0.25em 1em;
    font-weight: bold;
    margin: 0 0.5em;
    border-radius: 20px;
    background: rgb(139, 167, 59);

    display: flex;
    align-items: center;
    justify-content: center;
}

.panel> :nth-child(5)>div> :last-child {
    width: fit-content;
    height: fit-content;

    color: rgb(245, 248, 246);
    border: none;
    padding: 0.25em 1em;
    font-weight: bold;
    margin: 0 0.5em;
    border-radius: 20px;
    background: rgb(169, 140, 102);

    display: flex;
    align-items: center;
    justify-content: center;
}

.panel>section>button {
    position: fixed;

    width: 150px;
    height: 40px;

    font-weight: bold;
    color: white;

    bottom: 2%;
    right: calc(50% - 75px);

    border-radius: 20px;
    background: rgb(83, 102, 37);
}

@media screen and (width < 431px) {
    .panel>section>button {
        bottom: 10%;
    }
}

@media screen and (width < 361px) {
    .panel {
        align-content: normal;
    }

    .panel>section>button {
        bottom: 13%;
    }
}

@media screen and (width < 768px) {
    .panel {
        width: 300px;

        grid-template-areas:
            "a1"
            "a2"
            "a3"
            "a4"
            "a5";
    }
}