main {
  position: relative;

  width: 100%;
  height: 100%;

  background: url(../../../public/waterMark.png), linear-gradient(135deg, rgb(220, 231, 175), rgb(247, 249, 236) 75%);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}