.optionContainer {
	width: calc(97% - 3rem);

	margin: 1% 0;

	border-radius: 10px;

	overflow-y: scroll;
	overflow-x: hidden;
}
@media (max-width: 700px) {
	.optionContainer {
		width: calc(99% - 3rem);
		height: calc(92% - 3rem);

		margin: 1% 0;

		overflow: hidden;
	}
}
