.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.panel hr {
  background: white;
}
.stad {
  width: 80%;

  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;

  border-radius: 10px;
}
