/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background: rgba(0, 0, 0, 0.77);
	width: 600px;
	height: 640px;

	border-radius: 0px 0px 20px 20px;
}

/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/
.userName {
	position: absolute;
	width: 400px;
	height: 91px;
	left: 50px;
	top: 50px;
	-webkit-text-stroke: 0.5px white;
}

.userEmail {
	position: absolute;
	width: 400px;
	height: 91px;
	left: 50px;
	top: 160px;
	-webkit-text-stroke: 0.5px white;
}

.userPass {
	position: absolute;
	width: 400px;
	height: 91px;
	left: 50px;
	top: 270px;
	-webkit-text-stroke: 0.5px white;
}

.submit_Lo {
	position: absolute;
	width: 163px;
	height: 52px;
	left: 68px;
	top: 408px;

	border-radius: 50px;
	overflow: hidden;

	background-color: orange;
}

.submit_Lo h1 {
	position: absolute;
	top: 14px;
	left: 51px;
}

.submit_Lo_re {
	position: absolute;
	width: 163px;
	height: 52px;
	left: 168px;
	top: 490px;

	border-radius: 50px;
	overflow: hidden;

	background-color: orange;
}

.submit_Lo_re h1 {
	position: absolute;
	top: 14px;
	left: 3px;
}

.submit_Lo_2 {
	position: absolute;
	width: 163px;
	height: 52px;
	left: 258px;
	top: 408px;

	border-radius: 50px;
	overflow: hidden;

	background-color: orange;
}

/*Master*/
/*Other´s Components */