/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.panelContainer div h1 {
	color: rgb(255, 255, 255);
}

/*Master*/
/*Sub*/
.panelInpImg {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.btnC {
	width: 3rem;
	height: 3rem;

	background: radial-gradient(
		112% 112% at 50% -12%,
		rgba(78, 75, 72, 0) 26.04%,
		rgba(78, 75, 72, 0.5) 46.35%,
		rgba(78, 75, 72, 1) 69.27%
	);

	font-size: 1.5rem;

	border-radius: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Select */

/*Select  */

/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/
.panel {
	width: 75%;

	margin-right: auto;
	margin-left: auto;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.panel div {
	margin-top: 2rem;
	width: 350px;
}
.panel div h1 {
	font-weight: 400;
	color: rgb(255, 255, 255);
}
.panel select {
	color: rgb(0, 0, 0, 0.5);
}
.panel input {
	color: rgb(0, 0, 0, 0.5);
}
.panelImage {
	width: 100%;
	height: 250px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 2rem;
	margin-top: 2rem;
}
.panelImage div {
	width: 16rem;
	height: 14rem;

	padding: 0;

	display: flex;
	align-content: space-between;
	justify-content: space-between;
	align-items: center;
}
.panelImage img {
	width: 280px;
	height: 280px;

	padding: 0;

	border-radius: 100%;

	object-fit: cover;
	border-radius: 100%;
}
.panelImage input {
	width: 280px;
	height: 280px;

	padding: 0;

	border-radius: 100%;
	border: none;
}
.panelImage input::before {
	position: relative;
	height: inherit;

	background-color: white;
	color: black;

	display: flex;
	justify-content: center;
	align-items: center;

	content: "+";
	font-size: 75px;
}

.cam button {
	background: radial-gradient(
		216.67% 100% at 50% 0%,
		rgba(0, 0, 0, 0) 26.55%,
		rgba(0, 0, 0, 0.5) 34.9%,
		rgba(0, 0, 0, 0.5) 56.52%,
		rgba(0, 0, 0, 0.75) 100%
	);
	position: relative;
	bottom: 0;
	height: 100px;
	border-radius: 0 0 100% 100%;
}
.cam video {
	border-radius: 100%;
	position: relative;
	top: 0;
}
.submit {
	width: 3rem;
	height: 3rem;

	background: rgba(78, 75, 72, 0.9);
	border-radius: 100%;

	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	align-items: center;
	justify-content: center;
}
.submit svg {
	background: transparent;

	font-size: 1rem;
}

/*Master*/
/*Other´s Components */
