.tit {
	color: rgba(251, 225, 34, 1);
	font-size: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.tit div {
	font-size: 25px;
	margin-left: 0.5rem;
}

.container {
	width: 350px;

	background: rgba(0, 0, 0, 0.1);
	background-size: cover;

	padding: 1.5rem 0.5rem;
	margin: 1rem;
	cursor: pointer;
	border-radius: 10px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	overflow: hidden;
}
.panel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.panelStage {
	margin: 0.5rem;

	padding: 1rem;

	background: rgba(0, 0, 0, 0.25);
	font-size: 1rem;
	color: white;

	border-radius: 20px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}
.panelStage h2 {
	color: rgba(251, 225, 34, 1);
}
.titles {
	text-align: end;
	font-size: 14px;
	color: rgba(251, 225, 34, 1);
	margin-right: 0.3rem;
}
.ask {
	text-align: start;
	font-size: 14px;
	color: rgb(255, 255, 255);
}
.idName {
	padding: 2px;
	font-size: 1.5rem;

	color: white;
	text-overflow: ellipsis;

	overflow: hidden;
}
