/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
:root {
	--back-general: rgba(255, 255, 255, 0.75);
	--font-family-general: arial;
	--font-color: rgba(0, 0, 0, 0.75);
	--font-size: 20px;
	--focus-back: #fff;
}
/*Const*/

/*Containers*/
/*Master*/
.panel_ {
	width: 100%;
	height: 100%;

	overflow: hidden;
}
input[type='date']:required:invalid::-webkit-datetime-edit {
	color: var(--font-color);
	padding-left: 1rem;
	font-size: 20px;
}
/*Master*/
/*Sub*/
.label {
	width: 100%;
	height: 30px;
	margin: 0;
	margin-left: 1rem;

	font-family: arial;
	font-size: 20px;
}
.br_ {
	height: 10px;
}
.inp {
	width: 100%;
	height: calc(100% - 40px);

	box-sizing: border-box;
	border: none;
	border-radius: 20px;
	padding-left: 1rem;
	font-size: 20px;
}
.inp::placeholder {
	font-size: 20px;
	padding-left: 1rem;
	color: rgb(0, 0, 0);
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
