/*



Login



*/
.login_panel {
    position: absolute;
    right: 10%;

    width: fit-content;
    height: min-content;

    padding: 1em 3em;
    border-radius: 10px;
    background: url(../../../public/waterMark.png), linear-gradient(145deg, rgb(184, 162, 129), rgb(129, 100, 77) 75%);

    animation: slideIn 0.5s ease-in;
}

.login_panel label {
    width: 300px;

    margin: 0.5em auto;

    font-weight: bold;
    color: rgb(245, 248, 246);

    display: flex;
    flex-direction: column;
}

.login_panel label input {
    height: 40px;

    background-color: rgb(245, 248, 246);

    padding: 0 1em;
    margin-top: 0.5em;
    border-radius: 15px;
}

.login_panel>button {
    height: 40px;

    font-weight: bold;
    color: rgb(245, 248, 246);

    padding: 1em;
    margin: 0.5em auto;
    border-radius: 20px;
    background: rgb(152, 175, 108);
}

.login_panel h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(245, 248, 246);
    padding: 1em;

    display: flex;
    justify-content: center;
}

.login_panel a {
    font-size: 15px;
    font-weight: bold;
    color: rgb(245, 248, 246);
    padding: 1em;

    display: flex;
    justify-content: center;
}

/*



Login



*/
.BTN_back {
    position: absolute;
    top: 0;
    right: 35%;

    width: fit-content;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgb(245, 248, 246);

    box-sizing: border-box;

    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 20px;
    background: rgb(95, 116, 60);
    animation: slideIn 0.5s ease-in;

    z-index: 1;
}

.tutorial {
    position: absolute;
    top: 0;
    right: 8%;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgb(245, 248, 246);

    padding: 0.5em 1em;
    margin: 0.5em auto;
    border-radius: 20px;
    background: rgb(95, 116, 60);

    animation: slideIn 0.5s ease-in;

    z-index: 1;
}

.register_panel {
    position: absolute;
    right: 10%;

    width: 350px;
    height: 85%;

    padding: 2em;
    border-radius: 10px;
    background: url(../../../public/waterMark.png), linear-gradient(145deg, rgb(184, 162, 129), rgb(129, 100, 77) 75%);

    overflow-y: auto;
    overflow-x: hidden;

    animation: slideIn 0.5s ease-in;
}

.register_panel label {
    width: 300px;

    margin: 0.5em auto;

    font-weight: bold;
    color: rgb(245, 248, 246);

    display: flex;
    flex-direction: column;
}

.register_panel label input {
    height: 40px;

    background-color: rgb(245, 248, 246);

    padding: 0 1em;
    margin-top: 0.5em;
    border-radius: 15px;
}

.register_panel>button {
    height: 40px;

    font-weight: bold;
    color: rgb(245, 248, 246);

    padding: 1em;
    margin: 0.5em auto;
    border-radius: 20px;
    background: rgb(152, 175, 108);
}

.register_panel h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(245, 248, 246);
    padding: 1em;

    display: flex;
    justify-content: center;
}

.register_panel a {
    font-size: 15px;
    font-weight: bold;
    color: rgb(245, 248, 246);
    padding: 1em;

    display: flex;
    justify-content: center;
}

.tutorial_panel {
    width: 585px;
    height: fit-content;

    padding: 1em 0.5em;
    border-radius: 10px;

    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(auto-fill, 255px);
    grid-gap: 1em;

    background: rgb(221, 234, 227);
}

.tutorial_panel li {
    width: 260px;
    margin-bottom: 0.5em;
}

.tutorial_panel img {
    width: 250px;
    height: 150px;
}

.tutorial_panel h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(27, 27, 27);
    padding: 1em;

    text-align: center;

    display: flex;
    justify-content: center;
}

@media screen and (width < 769px) {
    .login_panel {
        position: fixed;
        right: auto;
        top: auto;
    }

    .register_panel {
        width: 350px;
        height: 80%;

        position: fixed;
        right: auto;
        top: auto;
    }

    .BTN_back {
        border-radius: 0 20px 20px 0;
        left: 0%;
    }

    .tutorial {
        right: 0;
        border-radius: 20px 0 0 20px;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}