/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	display: flex;
	background: transparent;

	width: 100%;
	height: 100%;
}

.container a {
	text-decoration: none;
}

/*Master*/
/*Sub*/
.fig {
	width: 100%;
	height: 100%;
}

.icon_ {
	width: 100%;
	height: 100%;

	font-size: 200%;

	filter: drop-shadow(0px 0px 5px #ffffff);

	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	width: 100%;
	height: 100%;
}

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
