/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.container {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.77);
    width: 600px;
    height: 640px;

    border-radius: 0px 0px 20px 20px;
}
/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/
.userName {
    width: 400px;
    height: 91px;
    -webkit-text-stroke: 0.5px white;
}

.userEmail {
    width: 400px;
    height: 91px;

    -webkit-text-stroke: 0.5px white;
}

.userPass {
    width: 400px;
    height: 91px;

    -webkit-text-stroke: 0.5px white;
}
.submit_Lo {
    width: 163px;
    height: 52px;

    border-radius: 50px;
    overflow: hidden;

    background-color: rgba(255, 166, 0, 0);
    font-family: var(--font-family-general);
    font-size: 11px;
    border: 1px solid white;
}
.submit_Lo_re {
    position: absolute;
    width: 163px;
    height: 52px;
    left: 168px;
    top: 490px;

    border-radius: 50px;
    overflow: hidden;

    background-color: orange;
}
.submit_Lo_2 {
    position: absolute;
    width: 163px;
    height: 52px;
    left: 168px;
    top: 508px;

    border-radius: 50px;
    overflow: hidden;

    background-color: orange;
}
.submit_Lo_reset {
    position: absolute;
    width: 163px;
    height: 52px;
    left: 168px;
    top: 556px;

    border-radius: 50px;
    overflow: hidden;

    background-color: orange;
}
/*Master*/
/*Other´s Components */
