/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...



*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.themePanel {
	width: fit-content;
	height: fit-content;

	padding: 2rem;
	border-radius: 20px;

	display: flex;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
/*Master*/
/*Sub*/
.theme {
	width: 10rem;
	height: 10rem;

	border-radius: 100%;
	border: 0.25rem solid black;

	margin: 0.5rem;

	cursor: pointer;

	overflow: hidden;
}
.theme img {
	width: 10rem;
	height: 10rem;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
