/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.optionContainer {
	width: 100%;
	height: 89%;

	padding: 2rem 0 2rem 2rem;
	margin-right: 6rem;

	overflow-y: scroll;
	overflow-x: hidden;
}
.menuLeft {
	height: 100%;

	position: absolute;
	padding-left: 1%;
	left: 0;

	margin-top: auto;
	margin-bottom: auto;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
/*Master*/
/*Sub*/
.option {
	width: 3rem;
	height: 3rem;

	margin: 0.5rem 0;

	background: rgba(78, 75, 72, 0.9);
	border-radius: 100%;
}
.option button a div {
	font-size: 20px;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */
@media only screen and (max-width: 700px) {
	.optionContainer {
		width: 100%;
		height: 88%;

		padding: 1rem 0;
		margin: 6px 1px 6px 2rem;

		overflow-y: scroll;
		overflow-x: hidden;
	}
	.menuLeft {
		height: calc(92% - 3rem);

		position: absolute;
		left: 0;

		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}
	.option {
		width: 2rem;
		height: 2rem;

		margin: 5px;

		background: rgba(78, 75, 72, 0.9);
		border-radius: 100%;

		z-index: 1;
	}
	.option button a div {
		font-size: 20px;
	}
}
/*Resizing */

/*Animations*/
/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
