/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	position: absolute;

	width: 4rem;
	height: 100%;

	top: 0;
	right: 0;

	padding-right: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/
.optPrincipal {
	display: flex;

	flex-direction: column;
	justify-content: space-between;
}
.option {
	width: 3rem;
	height: 3rem;

	right: 0;

	border-radius: 100%;
	margin: 0.4rem 0;
	background: rgba(78, 75, 72, 0.9);
}
.option button a div {
	font-size: 20px;
}

.option:hover {
	width: 3.5rem;
	height: 3.5rem;

	right: 0;
}
.option:hover svg {
	font-size: 30px;
}
.opUser {
	position: fixed;

	width: 4rem;
	height: 4rem;

	top: 0.5rem;
	right: 0.5rem;

	margin: 0.5rem 1rem;
	border-radius: 100%;

	display: flex;

	z-index: 11;
}

.opUser button {
	width: 4rem;
	height: 4rem;

	border-radius: 100%;

	overflow: hidden;
}
.opUser img {
	width: 3.8rem;
	height: 3.8rem;

	border-radius: 100%;

	background: rgba(0, 0, 0, 0.5);
}
/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */
@media only screen and (max-width: 700px) {
	.container {
		position: absolute;

		top: inherit;
		bottom: 0;
		padding: 0;

		width: 100%;
		height: 3rem;

		padding-bottom: 0.5rem;

		background: linear-gradient(
			0deg,
			#000000 0%,
			rgba(0, 0, 0, 0.75) 25%,
			rgba(0, 0, 0, 0.5) 44.27%,
			rgba(0, 0, 0, 0.25) 70.31%,
			rgba(0, 0, 0, 0) 100%
		);

		display: flex;
		flex-direction: row-reverse;
	}
	.optPrincipal {
		margin-left: auto;
		margin-right: auto;

		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.option {
		width: 3rem;
		height: 3rem;

		right: 0;

		border-radius: 100%;
		margin: 0 0.4rem;
		background: rgba(78, 75, 72, 0.9);
	}
	.option button a div {
		font-size: 20px;
	}

	.option:hover {
		width: 3.5rem;
		height: 3.5rem;

		right: 0;
	}
	.option:hover svg {
		font-size: 30px;
	}
	.opUser {
		position: fixed;

		width: 2.5rem;
		height: 2.5rem;

		top: 0;
		right: 0;

		margin: 6px;
		border-radius: 100%;

		display: flex;

		overflow: hidden;

		z-index: 11;
	}
	.opUser button {
		width: 2.5rem;
		height: 2.5rem;

		border-radius: 100%;

		overflow: hidden;
	}
	.opUser img {
		width: 2.3rem;
		height: 2.3rem;

		border-radius: 100%;

		background: rgba(0, 0, 0, 0.5);
	}
}
/*Resizing */

/*Animations*/
/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
