/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
:root {
	--back-general: white;
}
/*Const*/

/*Containers*/
/*Master*/
.panel {
	width: 100%;
	height: 100%;
}
.panel img {
	position: absolute;
	width: 125px;
	height: 125px;
	left: 8%;
	top: 5%;

	background: #ffffff;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 75px;
}
.panel h1 {
	position: absolute;

	bottom: 1%;
	right: 5%;
}
/*Master*/
/*Sub*/
.lines {
	position: absolute;
	top: 30%;
	left: 5%;
	width: 90%;
	height: 55%;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/
.paragraphs {
	position: absolute;
	display: flex;
	width: 853px;
	height: 100px;
	left: 20%;
	top: 8%;
}
.paragraphs h2 {
	position: absolute;
	left: 0;
	margin: 0;
}
.paragraphs p {
	display: flex;
	justify-content: flex-end;
}
/*Master*/
/*Other´s Components */
