.rabbitImg {
	width: 15rem;
	height: 15rem;

	border-radius: 100%;
}
.initInfo {
	width: 100%;

	font-size: 40px;
	color: white;

	padding-top: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.initInfo hr {
	background: white;
}
.panelData {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.tit {
	color: rgba(251, 225, 34, 1);
	font-size: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.tit div {
	margin-left: 0.5rem;
}
.titles {
	margin-right: 0.5rem;
	font-size: 20px;
	text-align: end;
	color: rgba(251, 225, 34, 1);
}
.ask {
	font-size: 20px;
	color: white;
}

@media (max-width: 900px) {
	.titles {
		margin-right: 0.5rem;
		font-size: 15px;
		text-align: end;
		color: rgba(251, 225, 34, 1);

		transition: font-size 500ms ease;
	}
	.ask {
		font-size: 15px;
		color: white;
	}
}
