.navbarMenu {
	z-index: 100;
	background: transparent;
	height: 80px;
	display: absolute;
	justify-content: start;
	align-items: center;
}
.bars {
	margin-left: 2rem;
	font-size: 2rem;
	background: none;

	margin: 0;
}
.navMenuItems {
	z-index: 100;;
	width: 100vw;
	padding: 0;
	margin: 0;
}
.navbarToggle {
	background: radial-gradient(76.15% 79.02% at 0% 0%, #ffffff 37.76%, rgba(0, 0, 0, 0) 95.29%);
	width: 100px;
	height: 100px;
	display: flex;
}
.iconMenu{
	position: absolute;
	width: 150px;
	height: 150px;
	left: 0px;
	top: 0px;
	
	background: radial-gradient(71.75% 72.99% at 0% 0%, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.navText {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 10;
	margin-left: 50px;
	list-style: none;
	height: 60px;
}

.navText a {
	text-decoration: none;
	color: #f5f5f5;
	font-size: 20px;
	width: 95%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 16px;
	border-radius: 4px;
}
.decor{
	position: absolute;
	width: 89px;
	height: 89px;
	left: 30px;
	top: 31px;

	background: radial-gradient(71.35% 71.35% at 16.29% 19.1%, rgba(196, 196, 196, 0) 44.58%, #FFFFFF 100%);
	border-radius: 100%;
}