.panel {
  width: 90%;
  height: fit-content;

  margin: 1rem;
  background: rgba(0, 0, 0, 0.15);

  padding: 2rem;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  transition: height 1s;
}
.panel h3 {
  font-size: 1.5rem;
}
.panel h1{
  color: white;
}
.pt {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: center;

  visibility: visible;

  transition: height 1s;
}
.pt h1 {
  width: fit-content;

  margin-top: 10px;

  text-align: right;
  color: white;

  font-size: 1rem;
}
.pt input {
  width: 150px;

  margin-top: 10px;
  padding: 0 10px;

  border-radius: 10px;

  margin-left: 10px;

  font-size: 12px;
}
