/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/


/*Const*/
:root {
	--back-general: white;
}
/*Const*/


/*Containers*/
	/*Master*/
	.panel_{
		display: block;

		justify-content: center;
		align-items: center;

		background: linear-gradient(180deg, rgba(96, 134, 96, 0) 0%, rgba(96, 134, 96, 0.25) 20.83%, rgba(96, 134, 96, 0.25) 100%);

		width: 100%;
		height: 100%;
	}
	/*Master*/    
	/*Sub*/
	.grid{
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		grid-template-rows: repeat(auto-fill, 100px);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;

		justify-content: center;
		align-items: center;

		margin-top: 2rem ;
	}
	/*Sub*/
	/*Button´s container*/

	/*Button´s container*/
	/*Input´s container*/

	/*Input´s container*/
	/*Oters*/

	/*Oters*/
/*Containers*/


/*Use*/
	/*Button */

	/*Button */
	/*Input */

	/*Input */
/*Use*/


/*Resizing */

/*Resizing */


/*Animations*/

/*Animations*/


/*Other´s Components*/
	/*Master*/
	.searchBar{
		position: relative;
		width: 90%;
		height: 70px;
		left: calc(50% - 90%/2);

		border: 1px solid black;
		border-radius: 100px;
		overflow: hidden;
	}
	.searchBar input{
		position: absolute;
		margin-bottom: 2rem;
		
		width: 100%;
		height: 100%;
		top: 0;
	}
	
	/*Master*/   
/*Other´s Components */