.litterList_panel {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    --buttonsBaground: rgb(218, 221, 220);
    --buttonsBorder: rgb(146, 158, 153);
}

.litterList_panel>section {
    width: 75%;
    height: 70%;

    padding: 2rem 0;

    display: grid;
    justify-content: center;
    align-items: start;

    grid-template-columns: repeat(auto-fill, 280px);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    overflow-y: auto;
    overflow-x: hidden;
}

.litterList_panel>section a {
    view-timeline-name: --ter;
    view-timeline-axis: block;
    view-timeline: --ter 0.5s ease-in;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.litterList_panel>figure {
    position: absolute;

    left: 2em;
    bottom: 15%;

    width: 45px;
    height: 45px;

    box-sizing: border-box;

    margin: 0 2px;
    border-radius: 100%;
    padding: 10px;
    background: var(--buttonsBaground);
    border: 2px solid var(--buttonsBorder);
}

@media screen and (width < 769px) {
    .litterList_panel>section {
        width: 80%;
        height: 70%;
    }

}

/*


    Cards



*/

.cards_panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 280px;
    height: auto;

    min-height: 278px;
    border-radius: 15px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(135, 166, 59, 0.25), rgba(68, 82, 34, 1) 95%);
}

.cards_panel table:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards_panel table * {
    box-sizing: border-box;
}

.cards_panel table tbody hr {
    width: 230px;
    height: 0.5em;

    margin: 1em 0;
    background-color: rgb(144, 197, 170);
}

.cards_panel table tbody tr {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 260px;

    margin: 0.5em 0;
}

.cards_panel table tbody img {
    width: 75px;
    height: 75px;

    border-radius: 100%;
    transition: all 0.5s ease-out;
}

.cards_panel table tbody th {
    width: 70px;
    height: auto;
    text-align: end;

    margin-right: 10px;
    font-size: 12px;

    color: rgb(220, 231, 177)
}

.cards_panel table tbody td {
    width: 130px;
    height: auto;

    font-size: 12px;
    text-align: start;
    color: rgb(247, 249, 236);
    margin-left: 10px;
}

.cards_panel table tbody :nth-child(1) td {
    width: 140px;

    font-size: 20px;
    text-align: center;
    margin-bottom: 1.5em;
}

.cards_panel table tbody :nth-child(1) th {
    width: auto;
    text-align: center;
    margin-bottom: 1.5em;
}

.cards_panel:hover table tbody img {
    width: 150px;
    height: 150px;

    border-radius: 20px;
    transition: all 0.5s ease-in;
}

/*


    SeachFilters



*/

.searchFilters {
    display: flex;

    position: fixed;

    top: 1em;
}

.searchFilters figure button {
    width: 35px;
    height: 35px;

    box-sizing: border-box;

    margin: 0 2px;
    border-radius: 100%;
    padding: 10px;
    background: var(--buttonsBaground);
    border: 2px solid var(--buttonsBorder);
}

.searchFilters section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;
}

.searchFilters section input {
    width: 450px;
    height: 35px;
    background-color: rgb(247, 248, 247);

    box-sizing: border-box;

    padding: 0 1em;
    border-radius: 20px 0 0 20px;
}

.searchFilters section button {
    width: 40px;
    height: 35px;

    box-sizing: border-box;
    background: rgb(247, 248, 247);

    border-radius: 0 20px 20px 0;
    padding: 10px;
}

@media screen and (width < 768px) {
    .searchFilters {
        right: 1em;
    }

    .searchFilters section input {
        width: 150px;
        height: 35px;

        box-sizing: border-box;

        padding: 0 1em;
        border-radius: 20px 0 0 20px;
    }
}

@media screen and (width < 321px) {
    .searchFilters section input {
        width: 90px;
    }
}

/*


    add Modal



*/

.addModal {
    height: fit-content;
    width: 300px;

    padding: 2em;
    border-radius: 20px;
    box-sizing: border-box;

    display: grid;
    grid-template-areas:
        "a1 a1"
        "a2 a3";

    background: linear-gradient(175deg, rgb(144, 197, 170), rgb(45, 110, 83));
}

.addModal :nth-child(1) {
    grid-area: a1;
}

.addModal :nth-child(2) {
    grid-area: a2;
}

.addModal :nth-child(3) {
    grid-area: a3;
}

.addModal h1 {
    width: auto;
    color: white;
    font-size: 1.5em;
    margin: 0.5em auto;
    margin-bottom: 1.5em;
}

.addModal a {
    width: auto;
    height: auto;

    text-align: center;
    margin: 0.5em auto;
    padding: 0.5em 1em;

    background: rgb(26, 58, 46);

    color: white;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/*


    Card



*/

.littersCard {
    --coloTitles: rgb(26, 33, 18);
    --colorSubtitles: white;
    --colorText: rgb(68, 82, 34);
    --backIMG: rgb(244, 247, 238);
    --backgroundPrincipalTable: linear-gradient(-45deg, rgba(135, 166, 59, 0), rgba(169, 140, 102, 0.5));
    --backgroundPrincipalTableMovil: linear-gradient(0deg, rgba(135, 166, 59, 0), rgba(169, 140, 102, 0.5));
    --backgroundTables: rgba(169, 140, 102, 0.5);
    --widthTables: 275px;

    position: relative;

    box-sizing: border-box;

    border-bottom: 4px groove var(--coloTitles);

    width: 100%;
    height: auto;
    padding-bottom: 1em;
    margin-bottom: 1em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;

    text-align: center;

    view-timeline: block;
    view-timeline-name: --ter;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.littersCard img {
    width: 45px;
    height: 45px;

    background-color: transparent;
    border-radius: 0;
}

.littersCard span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: var(--widthTables);
    height: auto;

    border-radius: 0 10px 10px 0;
    background: var(--backgroundTables);
    border-left: 4px solid var(--backIMG);
    margin: 5px;
    padding: 10px 0;

    overflow: hidden;
    transform-origin: left;

    animation: expandRight 1s ease-in;
    overflow: hidden;
}

.littersCard span section {
    width: auto;

    background: transparent;
    padding: 0 1em 0 0.5em;

    border-radius: 0;
    border-left: none;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.littersCard span section h3 {
    width: 40px;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.littersCard span table {
    width: 175px;
    height: 100%;
    background: transparent;

    text-overflow: ellipsis;
    border-radius: 10px;
    border-left: 4px solid var(--coloTitles);

    margin-left: 10px;
    padding: 0.5em 0;
}

.littersCard span table tr {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.littersCard span table th {
    font-size: 10px;
    width: 75px;
    text-align: end;
}

.littersCard span table td {
    font-size: 12px;
    padding-left: 1em;
    width: fit-content;
    text-align: start;
}

.littersCard span table tbody :nth-child(3) {
    margin-bottom: 0;
}

@keyframes expandRight {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}