/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/

.container {
	position: fixed;

	display: flex;
	flex-direction: row-reverse;

	width: 100%;
	height: 100%;
}
/*Master*/
/*Sub*/
.initContainer {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.componentContainer {
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
	flex-direction: row;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
