/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...



*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/

/*Master*/
/*Sub*/
.op {
	width: 80px;
	height: 80px;

	margin: 5px;

	border-radius: 100%;

	background: rgba(0, 0, 0, 0.25);

	overflow: hidden;
}
.op:hover {
	width: 90px;
	height: 90px;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
