/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menuLeft {
	width: 4rem;
	height: 100%;

	background: linear-gradient(90deg, #000000 0.65%, rgba(0, 0, 0, 0) 100%);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.panel {
	width: 60%;
	height: 80%;

	display: flex;
	align-items: center;
	justify-content: center;
}
.menuRigth {
	width: 18rem;
	height: 100%;

	background: linear-gradient(
		270deg,
		#000000 0%,
		rgba(0, 0, 0, 0.5) 23.96%,
		rgba(0, 0, 0, 0.5) 86.98%,
		rgba(0, 0, 0, 0) 100%
	);
}
/*Master*/
/*Sub*/
.optionST {
	width: 100%;
	height: 3.5rem;

	font-size: 45px;
	cursor: pointer;

	background: linear-gradient(270deg, #ffffff 42.31%, rgba(255, 255, 255, 0) 100%);

	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;

	border: 2px solid #000000;
	border-width: 2px 4px 2px 0px;
	border-style: solid;
	border-color: #000000;
	border-radius: 0px 75px 75px 0px;

	margin: 0.5rem 0;

	overflow: hidden;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
