/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/

/*Const*/

/*Containers*/
/*Master*/
.container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: space-between;
}
/*Master*/
/*Sub*/
.b {
	background: rgba(0, 0, 0, 0.25);

	width: 80px;
	height: 80px;

	border-radius: 0 100% 100% 0;

	overflow: hidden;
	margin: 6px 0;
}
.b img {
	width: 80px;
	height: 80px;
}
.i {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: flex-start;

	width: 350px;
	height: 350px;

	padding: 1rem;
}
.i img {
	width: 350px;

	animation-duration: 1s;
	animation-name: a1;
}
.p {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	width: 350px;

	padding: 1rem;

	animation-duration: 3s;
	animation-name: a2;
}
.panelInf {
	background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-end;

	right: 0;
}
.panelB {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}
.panelCom {
	width: 100%;
	margin: 2rem;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/
@keyframes a1 {
	from {
		width: 80px;
	}
	to {
		width: 100%;
	}
}
@keyframes a2 {
	from {
		width: 2px;
		height: fit-content;
	}
	to {
		width: 100%;
		height: fit-content;
	}
}
/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
