/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background: rgba(0, 0, 0, 0.75);

	padding: 3rem 0;
	border-radius: 0px 0px 10px 10px;
}
.container * {
	color: white;
}
.container form {
	width: 13rem;
}
/*Master*/
/*Sub*/
.inpCont {
	position: relative;

	width: 100%;
	height: 40px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.inpCont input {
	position: absolute;

	width: 100%;

	margin: 0.5rem 0;
	border-bottom: 1px solid black;
	border-radius: 10px;
	padding: 8px 1rem;

	color: black;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.4) 100%);
}
.submit {
	width: fit-content;
	height: fit-content;

	padding: 0.25rem 0.5rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;

	border-radius: 10px;
	background: rgb(255 255 255 / 10%);
	margin: 0 auto;
}
.submit button {
	background: transparent;
}
.forgot {
	width: fit-content;
	margin-right: auto;
	margin-top: 0.5rem;
	margin-left: auto;
}
.forgot a {
	font-size: 12px;
	color: white;
}
.lblInac {
	width: 100%;
	margin-left: 1rem;

	transition: margin-bottom 500ms ease-out;
}
.lblAc {
	width: 100%;
	margin-left: 1rem;
	margin-bottom: 3.5rem;

	transition: margin-bottom 500ms ease-out;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
