/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	width: 30rem;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background: rgba(0, 0, 0, 0.85);

	padding: 3rem 0;
	border-radius: 0px 0px 20px 20px;
}
.container * {
	color: white;
}
/*Master*/
/*Sub*/
.inpCont {
	width: 350px;
	margin-bottom: 1rem;
}
.inpCont input {
	width: calc(100% - 2rem);
	height: 100%;

	margin: 0.5rem 0;

	border: 1px solid black;
	border-radius: 20px;
	padding: 8px 1rem;

	color: black;
}
.inpCont h3 {
	width: 350px;
}
.submit {
	width: 175px;
	height: 49px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;

	border-radius: 24px;
	background: rgba(0, 0, 0, 0.75);

	margin: 0 auto;
}
.submit button {
	background: transparent;
}
.forgot {
	width: fit-content;
	margin-right: auto;
	margin-top: 2rem;
	margin-left: auto;
}
.forgot a {
	font-size: 12px;
	color: white;
}
/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/

/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/

/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
