.card{
    margin: 5px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    min-height: 150px;
    width: 100%;
}
.panelImage{
    align-items: center;
    margin: 5px;
    border-radius: 100%;
    min-width: 140px;
    border: 5px solid black;

}
.labelName{
    margin: 5px;
}
.labelAge{
    margin: 5px;
}
.labelID{
    margin: 5px;
}
.parDes{
    margin: 5px;
}
.btn{
    align-self: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    
  }