.btnEdits {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 88%;
}
.btnEdits button a div {
	font-size: 20px;
}
.lifeCycle {
	height: 3rem;
	width: auto;
	padding: 0 0.5rem;
	margin: 1rem 0;
	background: #d2d68d;
	border-radius: 10px;
	border: 2px solid black;
}
.reproductionCycle {
	height: 3rem;
	width: auto;
	padding: 0 0.5rem;
	margin: 1rem 0;
	background: #d2d68d;
	border-radius: 10px;
	border: 2px solid black;
}
.formEdit {
	height: 3rem;
	width: auto;
	padding: 0 0.5rem;
	margin: 1rem 0;
	background: #d2d68d;
	border-radius: 10px;
	border: 2px solid black;
}
