.container {
	width: 90%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.panel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.panelStage {
	height: fit-content;
	width: 175px;

	margin: 0.5rem;
	padding: 1rem;

	background: rgba(0, 0, 0, 0.3);

	border: 1px solid black;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.panelStage p {
	text-align: center;
	font-size: 15px;
}
.panelStage p div {
	font-size: 12px;
}
