.panelBasicInfo {
	width: 80%;

	background: rgba(0, 0, 0, 0.75);
	padding: 1rem;
	margin-bottom: 1rem;

	border-radius: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.imgVitae {
	width: 12rem;
	height: 12rem;
	border-radius: 100%;
	border: 2px solid black;
}
.dataVitae {
	border-radius: 20px;

	padding: 1rem;
	margin: 1rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.subPanel {
	height: 3rem;

	padding: 1rem;
	margin: 1rem;

	border-radius: 20px;

	color: white;
}
.subPanel h1 {
	color: #d2d68d;
}
