/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/


/*Const*/
:root {
	--back-general: white;
	--font-zise-general: 40px;
}
/*Const*/


/*Containers*/
	/*Master*/
	.navbarMenu {
		display: flex;
		background: transparent;

		width: 100vw;
		height: 100px;
		right: 0px;
		top: 0px;

		z-index: 0;
	}
	/*Master*/    
	/*Sub*/
	.bars {
		position: absolute;

		width: 50px;
		height: 50px;
		top: 0;
		right: 0;

		margin: 0;
	}
	/*Sub*/
	/*Button´s container*/

	/*Button´s container*/
	/*Input´s container*/

	/*Input´s container*/
	/*Oters*/
	.iconMenu {
		position: absolute;

		width: 100%;
		height: 100%;

		background: radial-gradient(100.05% 100% at 100% 0%, #000000 13.54%, rgba(0, 0, 0, 0) 100%);
	}
	.decor {
		position: absolute;
		width: 90px;
		height: 90px;
		right: calc(50% - 90px/2);
		top: calc(50% - 90px/2);

		border-radius: 100%;

		background: radial-gradient(73.03% 73.03% at 69.66% 26.97%, rgba(255, 255, 255, 0) 41.9%, #FFFFFF 71.65%);
	}
	/*Oters*/
/*Containers*/


/*Use*/
	/*Button */
	.navMenuItems {
		position: relative;
		background: radial-gradient(100% 100% at 100% 0%, #000000 0%, rgba(0, 0, 0, 0) 100%);

		width: 100%;
		height: 100%;

		z-index: 100;

		justify-content: right;

		padding: 0;
		margin: 0;
	}
	.navMenuItems li{
		height: 50px;
	}
	.navbarToggle {
		background: radial-gradient(100.05% 100% at 100% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

		position: absolute;
		width: 50px;
		height: 50px;
		right: 0px;
		top: 0px;
	}
	.navText{
		width: max-content;
		height: max-content;

		list-style: none;

		margin-right: 2rem;
		margin-left: auto;
	}
	.navText a {
		text-decoration: none;
		color: #f5f5f5;

		font-size: var(--font-zise-general);
		-webkit-text-stroke: 2px black;

		border-radius: 4px;
	}
	/*Button */
	/*Input */

	/*Input */
/*Use*/


/*Resizing */

/*Resizing */


/*Animations*/

/*Animations*/


/*Other´s Components*/
	/*Master*/

	/*Master*/   
/*Other´s Components */