.container {
	background: rgba(0, 72, 43, 0.666);

	padding: 2rem 3rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container h1 {
	color: white;
}
.d {
	display: flex;

	margin-left: auto;
	margin-right: auto;

	text-align: center;
}
.container form {
	width: 100%;
	text-align: left;
}
.btn {
	width: 4rem;
	height: 4rem;

	background: rgba(78, 75, 72, 0.9);

	font-size: 1rem;

	border-radius: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: auto;
	margin-right: auto;
}
.btn button a div {
	font-size: 1.5rem;
}
.obse div {
	height: 100%;
}
.imgs div {
	width: 263px;
	height: 100%;
}
