.vitae_panel {
    position: fixed;

    width: 585px;
    height: 80%;

    top: 1em;

    padding: 2em;
    border-radius: 10px;

    display: grid;
    grid-template-areas:
        "a2 a1"
        "a3 a3"
        "a4 a4"
        "a5 a5";
    grid-auto-rows: min-content;

    background: rgb(144, 197, 170);
    overflow-y: auto;
}

.vitae_panel> :nth-child(1) {
    grid-area: a1;
}

.vitae_panel> :nth-child(2) {
    grid-area: a2;
}

.vitae_panel> :nth-child(3) {
    grid-area: a3;
}

.vitae_panel> :nth-child(4) {
    grid-area: a4;
}

.vitae_panel> :nth-child(5) {
    grid-area: a5;
}


.vitae_panel img {
    width: 45px;
    height: 45px;

    background-color: transparent;
    border-radius: 0;
}

.vitae_panel h1 {
    width: 100%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto 1em auto;
}

.vitae_panel h2 {
    width: 100%;
    font-size: 25px;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.vitae_panel h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.vitae_panel hr {
    width: 100%;
    margin-top: 1em;
    background: rgb(52, 81, 70);
    ;
}

.picture img {
    width: 150px;
    height: 100px;

    background-color: rgb(255, 255, 255);
    border-radius: 15px
}

.vitae_panel table {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;

    width: 275px;
    height: auto;

    padding: 1.5em 0;
    font-size: 15px;
    border-radius: 15px;
    background: linear-gradient(175deg, rgb(144, 197, 170) 10%, rgb(96, 167, 133));
}

.vitae_panel table:first-child {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vitae_panel table tbody :last-child {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vitae_panel div {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    border-width: 0 0 4px 0;
    border-color: rgb(52, 81, 70);
    border-style: solid;

    width: 100%;
    height: auto;

    padding: 20px;

    view-timeline-name: --ter;
    view-timeline-axis: block;
    view-timeline: --ter 0.5s ease-in;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.vitae_panel :nth-child(1) div {
    border-bottom: none;
    margin: 0;
    padding: 0;

    width: 250px;
    height: 150px;
    box-sizing: border-box;
}

.vitae_panel :nth-child(1) div div svg {
    width: 75% !important;
    height: 75% !important;
    overflow: initial;
}

.vitae_panel :nth-child(1) div div svg g g g g :first-child {
    font-size: 16px;
    font-weight: bold;
}

.vitae_panel div span {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 240px;
    height: auto;

    border-radius: 0 10px 10px 0;
    background: rgb(96, 167, 133);
    border-left: 4px solid rgb(45, 110, 83);
    margin: 5px;
    padding: 10px 0;

    overflow: hidden;
    transform-origin: left;

    animation: expandRight 1s ease-in;
    overflow: hidden;
}

.vitae_panel div span section {
    width: auto;

    background: transparent;
    padding: 0 1em 0 0.5em;

    border-radius: 0;
    border-left: none;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.vitae_panel div span section h3 {
    padding: 0;
    margin: 0;
}

.vitae_panel div span table {
    width: fit-content;
    height: 100%;
    background: transparent;

    text-overflow: ellipsis;
    border-left: 2px solid rgb(255, 255, 255);

    margin: 0;
    padding: 0;
}

.vitae_panel div span table tr {
    margin: 0;
    padding: 0 0 0 1em;
}

.vitae_panel div span table th {
    width: fit-content;
}

.vitae_panel div span table tbody :nth-child(3) {
    margin-bottom: 0;
}

.vitae_panel table tbody :nth-child(3) {
    margin-bottom: 2em;
}

.vitae_panel table tbody tr {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin: 0.5em 2em;
}

.vitae_panel table tbody th {
    width: 70px;
    height: auto;
    text-align: end;

    margin-right: 1em;
    font-size: 12px;

    color: rgb(0, 255, 149);
}

.vitae_panel table tbody td {
    width: auto;
    height: auto;

    font-size: 12px;
    text-align: start;
    color: rgb(255, 255, 255);
}

.vitae_panel:hover table tbody img {
    width: 150px;
    height: 150px;

    border-radius: 20px;
    transition: all 0.5s ease-in;
}

.BTN_back {
    position: absolute;
    top: 0;
    right: calc(50% + 300px);

    width: fit-content;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgb(245, 248, 246);

    box-sizing: border-box;

    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 20px;
    background: linear-gradient(rgb(62, 99, 85) 0%, rgb(52, 81, 70) 50%);

    animation: slideIn 0.5s ease-in;

    z-index: 1;
}

.BTN_print {
    position: absolute;
    top: calc(40px + 1em);
    right: calc(50% + 270px);

    width: fit-content;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgb(26, 58, 46);

    box-sizing: border-box;

    padding: 0.5em 1em;
    margin: 0.5em 0;
    border: 2px solid rgb(63, 138, 105);
    border-radius: 20px;
    background: linear-gradient(rgb(241, 248, 244), rgb(188, 222, 202));

    animation: slideIn 0.5s ease-in;

    z-index: 1;
}

@media screen and (width < 768px) {
    .BTN_back {
        border-radius: 0 20px 20px 0;
        left: 0;
    }

    .BTN_print {
        border-radius: 20px 0 0 20px;
        top: 0;
        right: 0;
    }

    .vitae_panel {
        width: 300px;
        height: 80%;

        grid-template-areas: "a1"
            "a2"
            "a3"
            "a4"
            "a5";
    }

    .vitae_panel> :nth-child(3) {
        grid-template-areas: "a1"
            "a2"
            "a3";
    }

    .vitae_panel div {
        width: 290px;
    }

    .vitae_panel div section {
        width: 300px;
    }
}

@media screen and (width < 361px) {
    .vitae_panel {
        height: 66%;
        align-content: normal;
    }
}

@keyframes expandRight {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}