/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/


/*Const*/

/*Const*/


/*Containers*/
	/*Master*/
	.panel_{
		width: 100%;
		height: 100%;

		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;

		overflow-y: scroll;
		overflow-x: hidden;
	}
	.panel_::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.panel_::-webkit-scrollbar:vertical {
		width: 1px;
	}
	.panel_::-webkit-scrollbar-button:increment,
	.panel_::-webkit-scrollbar-button {
		display: none;
	}
	.panel_::-webkit-scrollbar:horizontal {
		height: 5px;
	}
	.panel_::-webkit-scrollbar-thumb {
		background-color: rgba(255, 0, 0, 0.1);
		border-radius: 20px;
		border: none;
	}
	.panel_::-webkit-scrollbar-track {
		border-radius: 10px;
	}
	/*Master*/    
	/*Sub*/

	/*Sub*/
	/*Button´s container*/

	/*Button´s container*/
	/*Input´s container*/

	/*Input´s container*/
	/*Oters*/
	.preview_{
		position: absolute;
		width: 437px;
		height: 282px;
		left: 53px;
		top: 38px;

		background: #FFFFFF;
		border-radius: 20px;
	}
	/*Oters*/
/*Containers*/


/*Use*/
	/*Button */
	.cha{
		position: absolute;
		width: 400px;
		height: 90px;
		left: 38px;
		top: 510px;

		background: rgba(96, 134, 96, 0.25);
		border-radius: 100px;
	}
	/*Button */
	/*Input */

	/*Input */
/*Use*/


/*Resizing */

/*Resizing */


/*Animations*/

/*Animations*/


/*Other´s Components*/
	/*Master*/

	/*Master*/   
/*Other´s Components */