.container {
	height: max-content;
	display: flex;
	justify-content: space-evenly;
	padding: 0 1rem;
	margin: 1rem 0;
	border-top: 1px solid black;
}
.con {
	display: flex;
	margin: 0 3rem;
}
.con ul {
	height: max-content;
	margin-top: 400px;
}
.con li {
	background: rgba(126, 126, 126, 0.9);
	border-radius: 20px 0 0 20px;
	padding: 1rem 5px;
	margin: 10px 0;
}
.con span {
	padding: 1rem;
	margin: 10px 0;
}
.panelE {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.viewI {
	background: rgb(60, 60, 60);
	padding: 0 10px;
	margin: 2px;
	border-radius: 20px;
}
.conItems {
	position: absolute;
	top: 0;
	width: 987px;
	height: 591px;

	margin: 1rem 0;

	background: rgb(126, 126, 126, 0.9);

	border-radius: 20px;
}
.ti {
	width: fit-content;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	color: black;
}
.panelTrat {
	cursor: pointer;
	margin: 1rem;
	padding: 5px;
	width: 60%;
	display: flex;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	background: rgb(120, 75, 75);
	border-radius: 20px;
}
.panelTrat h1 {
	font-size: 12px;
	color: black;
}
.back {
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 100%;
}
.save {
	margin: 2rem;
	width: 50px;
	height: 50px;
	background: white;

	border-radius: 100%;

	margin-left: auto;
}
.scroll {
	height: 425px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.active {
	background: rgba(255, 255, 255, 0.2);
	pointer-events: none;
}

.hidden {
	visibility: hidden;
}
