/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	width: 6rem;
	height: 100%;

	background: linear-gradient(
		270deg,
		rgba(0, 0, 0, 0.75) 0%,
		rgba(0, 0, 0, 0.5) 24.23%,
		rgba(0, 0, 0, 0) 64.71%
	);

	padding-right: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/
.option {
	width: 4rem;
	height: 4rem;

	font-size: 40px;

	right: 0;
	border-radius: 100%;
	margin: 0.4rem 0;

	background: #2aab83;
	border: 2px solid black;

	overflow: hidden;
}

.option:hover {
	width: 5rem;
	height: 5rem;

	font-size: 50px;

	right: 0;
	border: 2px solid black;
}
.option:hover img {
	width: 90px;
	height: 90px;
}
.option img {
	width: 80px;
	height: 80px;
}
.opUser {
	position: absolute;

	width: 100px;
	height: 100px;
	top: 0;
	right: 0;

	margin: 6px;
	border: 1px solid black;
	border-radius: 100%;
	overflow: hidden;
}
.opUser img {
	width: 100px;
	height: 100px;
}
/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/
/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
