/*
	1) Const
	2) Containers
		2.1) Master
		2.2) Button
		2.3) Input
	3)Use
		3.1)Buttons
		3.2)Inputs
	4)Rezising
	5)Animations
	6)Otre´s components
		6.1)Master
		6.2)...





*/

/*Const*/
/*Const*/

/*Containers*/
/*Master*/
.container {
	width: 6rem;
	height: -webkit-fill-available;

	background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

	padding-right: 5px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
/*Master*/
/*Sub*/

/*Sub*/
/*Button´s container*/

/*Button´s container*/
/*Input´s container*/

/*Input´s container*/
/*Oters*/
.optPrincipal {
	display: flex;
	height: inherit;
	justify-content: center;
	flex-direction: column;
}

.option {
	width: 3rem;
	height: 3rem;
	font-size: 25px;
	right: 0;
	border-radius: 100%;
	margin: 0.4rem 0;
	background: rgb(0 0 0 / 75%);
	border: 2px solid black;
	overflow: hidden;
}
.option:hover {
	width: 3.5rem;
	height: 3.5rem;

	font-size: 30px;

	right: 0;
	border: 2px solid black;
}
.opUser {
	display: inline-table;
	width: 5rem;
	height: 5rem;
	margin: 6px;
	border: 1px solid black;
	border-radius: 100%;
	overflow: hidden;
}
.opUser img {
	width: 5rem;
	height: 5rem;
}
/*Oters*/
/*Containers*/

/*Use*/
/*Button */

/*Button */
/*Input */

/*Input */
/*Use*/

/*Resizing */

/*Resizing */

/*Animations*/
/*Animations*/

/*Other´s Components*/
/*Master*/

/*Master*/
/*Other´s Components */
