.modal {
	display: none;
}

.container {
	position: relative;
	padding: 1rem;
	min-width: 330px;
	min-height: 580px;
	overflow-y: auto;
	background-color: #fff;
	flex-direction: column;
	border-radius: 20px;
}

.close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 1;
}

.modalOpen {
	display: flex;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	justify-content: center;
	align-items: center;
}
